*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


html{
    scroll-behavior:smooth;
}


body{
    color:#333;
    background:#fff;
}



header{

    background:#ffffff;
    padding:20px 8%;
    box-shadow:0 3px 10px #ddd;

    position:sticky;
    top:0;
    z-index:10;

}



nav{

    display:flex;
    justify-content:space-between;
    align-items:center;

}



nav h1{

    color:#8b5e3c;
    font-size:30px;

}



ul{

    display:flex;
    gap:25px;
    list-style:none;

}



a{

    text-decoration:none;
    color:#333;
    font-weight:bold;

}



.inicio{

height:80vh;

background:
linear-gradient(
rgba(0,0,0,.4),
rgba(0,0,0,.4)
),
url("img/fondo.jpg");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
padding:10%;

color:white;

}



.texto-inicio{

max-width:500px;

}



.texto-inicio h2{

font-size:45px;
margin-bottom:20px;

}



.boton,
button{

background:#d99035;
color:white;

padding:14px 30px;

border:none;
border-radius:30px;

cursor:pointer;

margin-top:20px;

}



section{

padding:70px 10%;
text-align:center;

}



.cards{

display:flex;
justify-content:center;
gap:30px;
margin-top:40px;

}



.card{

background:white;
width:280px;

padding:20px;

border-radius:20px;

box-shadow:0 5px 20px #ddd;

}



.card img{

width:100%;
height:220px;
object-fit:cover;

border-radius:15px;

}



.adopta{

background:#fff5e6;

}



.donaciones{

background:#fff8ef;

}



.donacion-container{

display:flex;
justify-content:center;
gap:30px;

margin-top:40px;

}



.donacion-card{

background:white;

width:280px;

padding:30px;

border-radius:20px;

box-shadow:0 5px 15px #ddd;

transition:.3s;

}



.donacion-card:hover{

transform:translateY(-10px);

}



.donar{

font-size:18px;

}



footer{

background:#8b5e3c;

color:white;

padding:25px;

text-align:center;

}