*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


:root{

--verde:#4CAF50;
--naranja:#FF9800;
--blanco:#FFFFFF;
--gris:#F5F5F5;

}


body{

background:var(--gris);
color:#333;

}


header{

background:white;
display:flex;
justify-content:space-around;
align-items:center;
padding:20px;

}


.logo{

font-size:28px;
font-weight:bold;
color:var(--verde);

}


nav ul{

display:flex;
gap:25px;
list-style:none;

}


nav a{

text-decoration:none;
color:#333;
font-weight:bold;

}


.btn{

background:var(--naranja);
color:white;
padding:12px 25px;
border-radius:25px;
text-decoration:none;

}



.banner{

height:450px;
background-image:url("../img/banner.jpg");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
padding:50px;

}


.banner-texto{

background:white;
padding:30px;
border-radius:20px;
max-width:450px;

}


.banner h1{

font-size:40px;
color:var(--verde);

}


.destacadas,
.titulo{

padding:50px;
text-align:center;

}


.tarjetas{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}


.card{

background:white;
width:280px;
padding:20px;
border-radius:20px;
text-align:center;
box-shadow:0 5px 15px #ccc;
transition:.3s;

}


.card:hover{

transform:translateY(-10px);

}


.card img{

width:100%;
height:200px;
object-fit:cover;
border-radius:15px;

}


button{

background:var(--verde);
border:none;
color:white;
padding:10px 20px;
border-radius:20px;
margin-top:15px;
cursor:pointer;

}


footer{

background:#333;
color:white;
text-align:center;
padding:30px;

}